# É legal manter estáticas as versões dos pacotes instalados para evitar problemas de compatibilidade no futuro.
# Tem um bot do GitHub que cria PRs automáticas para atualizar as dependências quando necessário.
# Esse bot roda os testes para garantir que nada quebre antes de sugerir uma atualização.

save-exact=true